*, *::after, *::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #fff;
	font-family: monospace;
	font-size: 18px;
	animation: bganim 20s ease-in-out infinite backwards;
}

.wrapper {
	height: 100vh;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.keys {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	height: 100%;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.key__item {
	border: 2px solid #ff0036;
	padding: 55px 20px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

p {
	display: block;
	text-align: center;
	margin: 0;
	margin-bottom: 15px;
	color: gold;
	font-weight: 700;
	font-size: 32px;
}

.key__item span {
	display: block;
	font-size: 20px;
	color: #af8;
}

.key__item.act {
	border: 3px solid gold;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all 0.2s;

	-o-transition: all 0.2s;

	transition: all 0.2s;

}



@keyframes bganim {
	0%, 100% {
		background-color: #222;
	}
	20% {
		background-color: #000;
	}
	40% {
		background-color: #001;
	}
	60% {
		background-color: #010;
	}
	80% {
		background-color: #100;
	}
}


